.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary-dark);
  border-width: 3px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--color-primary-medium);
  border-color: var(--color-primary);
  transition: background-color .5s linear;
}

.basic-card:hover {
  background-color: var(--color-neutral-grey);
  transition: background-color .5s linear;
}

.card {
  background-color: var(--color-neutral-grey);
}

.hover-photo {
  display: none;
}

.main-photo {
  display: block;
  transition: all 1s linear;
}

.main-photo:hover {
  display: none;
}

.hover-box:hover .main-photo {
  display: none;
}

.hover-box:hover .hover-photo {
  display: block;
}

.unavailable {
  background-color: grey;
}

.details-card {
  border-style: solid;
  border-color: var(--color-neutral-grey);
  border-width: 5px;
}

.summary {
  background-position: var(--color-neutral-grey);
}

table {
  font-family: var(--font-secondary);
  background-color: var(--color-neutral-grey);
}

td, tr, th {
  border-style: none;
}

.totally {
  color: var(--font-primary);
}

caption {
  display: none;
}

.rule {
  border-color: var(--color-primary-light);
  border-width: 10px;
}
