:root {
  --color-primary: #750b0b;
  --color-primary-light: #c67d7d;
  --color-primary-medium: #994141;
  --color-primary-dark: #540b0b;
  --color-secondary: #4f4d4d;
  --color-accent: #d8be15;
  --color-neutral-grey: #e2e2e2;
  --font-primary: "Slabo 13px", serif;
  --font-secondary: "Open Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}

a {
  font-family: var(--font-secondary);
  color: var(--color-accent);
}

ul li, ol li, dl {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

p {
  font-family: var(--font-secondary);
}

cite {
  color: var(--font-primary-dark);
  font-weight: bold;
}

h1, h5 {
  color: var(--color-primary);
}

h2, h4 {
  color: var(--color-primary-dark);
}

h3, h6 {
  color: var(--color-primary-medium);
}

mark {
  background-color: var(--color-neutral-beige);
}
